@import url('https://fonts.googleapis.com/css?family=Oldenburg');
body {
    background-color: beige;
    margin-bottom: 20px;
    }
    h1 
    {
    }
    
    div.bicis{
        margin-left:20px;
        display:inline-table;
        background-color: lightyellow;
        width: 320px;
        height: 550px;
        border: 1px solid lightyellow;
        border-radius: 15px;
        
    }
    div.fotobici{
        display:inline-block;
        margin: 10px;
        border: 1px solid black;
        border-radius: 1px;
        width: 300px;
        height: 300px;
        text-align: center;
       
    }
    
    div.textbici{
        display:inline-block;
        text-align: center;
        
    }
   
    span.preciobici{
        font-weight: bold;
        font-size: 25px;
    }
    span.tipobici{
        font-size: 20px;
    }
    span.descripcionbici{
        font-size: 15px;
    }
    div.social{
        display:inline-block;
        margin-top: 50px;
        

    }
    div.social1{
        display:inline;
        margin-left: 60px;
    }
    div.social2{
        display:inline;
        margin-left: 60px;
        
    }
    div.menu{
        position: fixed;
        top:0px;
        left:0px;
        width: 100%;
        background-color: blue;
        text-align: center;
        
    }
    div.pie{
        position: fixed;
        bottom:0px;
        left:0px;
        width: 100%;
        background-color: red;
        text-align: center;
    }
    span.colorletra{
        color:white;
    }
    div.rectangulo{
        position:relative;
        margin: 0 auto;
        height: 300px;
        width: 50%;
        background-color: brown;
    }
    div.subr1{
        position:absolute;
        top:-100px;
        left:-100px;
    }
    div.subr2{
        position:absolute;
        bottom:-100px;
        left:-100px;
    }
    div.subr3{
        position:absolute;
        top:-100px;
        right:-100px;
    }
    div.subr4{
        position:absolute;
        bottom:-100px;
        right:-100px;
    }
    h1.rectext{
        padding: 120px;
        font-size: 50px;
        text-align: center;
        text-decoration: underline;
        color: white;
    }
    div.contfa{
        margin: 0 auto;
        width: 50%;
    }
    div.contfa1{
        display:inline-block;
        width:100px;
        height:100px;
        background-color:red;
    }
    
    div.contfa2{
        display:inline-block;
        width:100px;
        height:100px;
        background-color:green;
    }
    div.contfa3{
        display:inline-block;
        margin-top:5px;
        width:100px;
        height:100px;
        background-color:blue;
    }
    div.contfa4{
        display: inline-block;
        width:100px;
        height:100px;
        background-color:black;
    }
    div.fa{
        margin: 25px;
        color: white;
    }
    div.fila div{
        width:50px;
        height:50px;
        background-color: grey;
        margin: 1px;
        display:inline-block;
    }
    div.mina{
        position:relative;
    }
    div.mina:hover:before{
        background-color: red;
        font-family: FontAwesome;
        font-size: 50px;
        content:"\f1e2";
        position:absolute;
    }
    p.lorem{
        font-family: Oldenburg;
        font-size: 1em;
    }
    p.lorem::first-letter{
        font-size: 3em;
        color: red;
    }
    p.lorem::first-line{
        color:red;
    }
    input.input{
        width: 100%;
    }
    form label{
        color:blue;
        font-weight: bold;
    }
    .caja-roja{
        background-color: red;
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }
    .caja-verde{
        background-color: green;
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }
    h1.articulos{
        text-align: center;
    }
    button.btn-carga{
        margin: 10px;
    }
    
    
    
    